h1 {
  font-weight: bold;
  font-size: 26px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
}

h3 {
  font-weight: bold;
  font-size: 14px;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white; 
}

#rightside {
  float: right;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: #202020ff;
  display: block;
  margin-bottom: 0px;
}


header a {
  color: white;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

a:hover {
  font-weight: bold;
  font-size:larger;
  text-decoration: underline;
}

#headertop {
  padding: 5px;
  height: 3%;
}

#headertop h1 {
  display: inline;
}

#headertop a {
  display: inline;
  float: right;
  padding-right: 10px;
}

nav {
  background-color: #A44200ff;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 80px;
  height: 2%;
}


header nav li{
  display: inline;
}

main {
  padding: 10px;
  background: rgba(60, 60, 60, 0.60);
  font-size: 12px;
  height: 80%;
}

main h2{
  margin-top: 0;
  padding-top: 10px;
}

#maintop {
  padding-bottom: 30px;
}

#mainbottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

figure {
  display: block;
  margin: 10px;
}

figure img {
  width: 200px;
  height: 150px;
  border: 1px solid #A44200ff;
  margin-top: 5px;
}

footer {
  background: rgba(60, 60, 60, 0.60);
  padding: 10px;
  font-size: 12px;
  height: 5%;
}
